<nav class="navbar navbar-light bg-light fixed-top navbar-expand-lg py-0 compensate-for-scrollbar" id="navbar-main">
  <div class="container">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/#about" data-target="#about"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#skills" data-target="#skills"><span>Skills</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#experiences" data-target="#experiences"><span>Experiences</span></a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/#projects" data-target="#projects"><span>Projects</span></a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link " href="assets/files/resume.pdf" target="_blank"><span>Resumé</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
