<section id="skills" class="home-section wg-featurette ">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-12 section-heading">
        <h1>Skills</h1>
      </div>
      <div class="col-12 col-sm-4">
        <div class="featurette-icon">
          <i class="fa fa-terminal big-icon"></i>
        </div>
        <h3 class = "title">Coding</h3>
        <p><strong>Java</strong>, Python, C/C++, JavaScript/TypeScript, Git, Linux</p>
      </div>
      <div class="col-12 col-sm-4">
        <div class="featurette-icon">
          <i class="fab fa-internet-explorer big-icon"></i>
        </div>
        <h3 class = "title">Web Development</h3>
        <p><strong>Spring Framework</strong>, RESTful APIs, Hibernate, Kafka/RabbitMQ, Angular, Bootstrap, HTML, CSS, AWS, Docker, MySQL, MongoDB</p>
      </div>
      <div class="col-12 col-sm-4">
        <div class="featurette-icon">
          <i class="fas fa-brain big-icon"></i>
        </div>
        <h3 class = "title">Machine Learning</h3>
        <p><strong>Python</strong>, Pytorch, Scikit-Learn, Doc2Vec, LSTM, MapReduce, Spark</p>
      </div>
    </div>
  </div>

</section>
