.home-section:first-of-type {
  padding-top: 50px;
  padding-bottom: 50px;
}
.home-section {
  background-color: #f7f7f7;
  padding: 110px 0;
  animation: intro .3s both;
  animation-delay: .15s;
}

.wg-featurette {
  margin-top: 0px;
}


.section-heading h1 {
  margin: 0 0 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: black;
  font-size: 2.5rem;
}

.big-icon{
  font-size: 1.8em;
}

.featurette {
  font-size: .8rem;
  line-height: 1.5;
  color: #555;
  text-align: center
}

.featurette h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  color: #333
}

.featurette p{
  text-align: center
}
.featurette-icon {
  display: block;
  width: 100%;
  color: black;
  font-size: 2rem;
  text-align: center
}
