<div class="timeline">
  <div class="timeline-component">
    <div class="timeline-date-right">July 2019</div>
  </div>
  <div class="timeline-middle">
    <div class="timeline-point"></div>
  </div>
  <div class="timeline-component timeline-component-bg">
    <h3 class="name">National Australia Bank</h3>
    <p class="title">
      Software Engineer Intern
    </p>
    <p class="date">
      Jul 2019 - Apr 2020
    </p>
    <p class="skills">
      Skills: Python, AWS (S3, EC2, ELB, CloudFormation), Beam, Agile, Jira
    </p>
  </div>
  <div class="timeline-component timeline-component-bg">
    <h3 class="name">Itoc - AWS Consulting</h3>
    <p class="title">
      Data Engineer (Full Time)
    </p>
    <p class="date">
      Apr 2020 - Jun 2021
    </p>
    <p class="skills">
      Skills: Java, Python, AWS (S3, EC2, ECS, RDS, Lambda, CloudFormation, CodePipeline),
      ETL, Kafka, Agile, CI/CD
    </p>
  </div>
  <div class="timeline-middle">
    <div class="timeline-point"></div>
  </div>
  <div class="timeline-component">
    <div>April 2020</div>
  </div>
  <div class="timeline-component">
    <div class="timeline-date-right">November, 2021</div>
  </div>
  <div class="timeline-middle">
    <div class="timeline-point"></div>
  </div>
  <div class="timeline-component timeline-component-bg">
    <h3 class="name">UCSF Medical Center</h3>
    <p class="title">
      Machine Learning Research Intern
    </p>
    <p class="date">
      Nov 2021 - Jul 2022
    </p>
    <p class="skills">
      Skills: Python (Pandas, Scikit-Learn), Pytorch, PostgreSQL, Doc2Vec, LSTM, Flask, HTML, CSS, Docker
    </p>
  </div>
  <div class="timeline-component timeline-component-bottom">
  </div>
  <div class="timeline-middle">
    <div class="timeline-point timeline-point-bottom"></div>
  </div>
  <div class="timeline-component timeline-component-bottom">
    <div>July, 2022</div>
  </div>
</div>
